<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conditional Rendering</title>
  </head>
  <body>

    <div id="app">
      <h1 v-if='auth'>Your user profile</h1>
      <h1 v-else>Login to access your profile!</h1>

      <h1>Product: {{ product }}</h1>
      <h2 v-if="quantity >= 20">Available</h2>
      <h2 v-else-if="quantity > 0 && quantity < 20">Limited Availability</h2>
      <h2 v-else>Sold out</h2>
      <br>

      <h3 v-show="sale">On Sale</h3>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="conditional_rendering.js"></script>
  </body>
</html>
